.hero {
  background-image: url('../images/header.jpg');
  background-size: cover;
  width: 100%;
  height: 500px;
}

.footer {
  background-color: 	#404040;
}

#mainLogo {
  font-size:30px;   
}

.img-fluid {
  margin:20px;
}

#forma {
  width: 60%;
  margin : 0px auto;
}

.me-2 {
  font-size: 30px;
}
